@font-face {
  font-family: 'Raleway';
  src: url('../resources/fonts/Raleway-Light.ttf');
}
@font-face {
  font-family: 'Didot';
  src: url('../resources/fonts/didot.ttf');
}

body {
  font-family: 'Raleway';
  font-weight: 100;
  letter-spacing: .2em;
  color: #000;
}

/*
OVERRIDES
*/
.container{
  max-width: 1028px;
  height: 100vh;
}
.section{
  margin-bottom: 3em;
}

/*
CUSTOMS
*/

.didot{
  font-family: 'Didot'
}

.yellow{
    background-color: #ffce03;
}
.yellow-text{
  color: #ffce03;
}


a{text-decoration: none;
color:black;}

a:hover{
  color: #ffce03;
  transition: color .5s;
}


a:visited{
  color:black;
}
img{
  width: 100%;
  height: auto;
}


div#topbar1{
position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    color: black;
    height: 6.5rem;
    width: 100%;
    z-index: 99;
    display: block;

}


.bold{
  font-weight: bold;
}


#buttonHead{
  margin-top: 1.25em;
  float: left;
  display: inline-block;
  letter-spacing: .2em;
  position: relative;
  margin-left: 25px;
}

.menu{
  margin-top: 1.25em;
  float: right;
  position: relative;
  display: inline-block;
  margin-right: 25px;
}
.menuItem{
  display: inline-block;
  margin-left: 1em;
}

.verticalLine {
    border-left: 1px solid #000;
}

p.button{
  font-size: 20px;
  text-align: left;
  margin-left: -.5em;
  color:white;
}
#clock{
  padding-top: 6.5rem;
  z-index: 100;
  width: 100%;
  text-align: center;
  color: #fff;
  letter-spacing: .2em;
}
#clock div {
  display: inline-block;
  font-size: 18pt;
}
#clock span:not(:last-child){
  font-size: 72pt;
}

.banner{
    height: 100vh;
    width: auto;
    margin-top: 0em;
    background-image: url(https://scontent-iad3-1.xx.fbcdn.net/t31.0-8/13247830_10209566646821584_7811445323599960426_o.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


p#respond{
  font-size: 18pt;
  line-height: 1;
  letter-spacing: .2em;
}
div#rsvp{
  padding-top: 5rem;
}

div#rsvp h1{
  text-align: center;
  font-size: 48pt;
}
form{
  /*background-color: red;*/
  margin-top: 5rem;
}
form div.row{
  margin-bottom: 2rem;
}
span.label-body{
  letter-spacing: 0;
}


input[type="radio"] {
    -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
    -moz-appearance: checkbox;    /* Firefox */
    -ms-appearance: checkbox;     /* not currently supported */
    border: 1px solid #000;
    width: 20px;
    height: 20px;
    position: relative;
}

input[type="text"].form-underline{
    border: 0;
    border-radius: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #000;
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
}
input[type="text"].form-underline.num{
  text-align: center;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
}

#labelMargin{
  margin-top: 1rem;
  margin-left: .5rem;
  letter-spacing: 0;
}

.title{
  font-size: 18pt;
  color: black;
  
}

#submitRow{
  text-align: center;
}

input.button{
  border: 1px solid #000;
  letter-spacing: .5rem;
  color: #000;
  border-radius: 0;
  transition: border .5s, color .5s;
}
#rsvpInfo{
  font-size: 10pt;
}

#rsvpBlurb{
  font-size: 12pt;
}

footer{
  height: 13rem;
  width: 100%;
  margin-top: 1rem;
  font-size: 10pt;
  text-align: center;
  padding-top: 4.5rem;
  letter-spacing: 0;
}

.footerContent{
  color: white;
}
#wishes{
  letter-spacing: .2rem;
  font-size: 14pt;
}
a.portfolio{
  color: #000;
}


